@use "variables" as v;
@use "mixins";

.input{
    height: 57px;
    display: flex;
    justify-content: space-between;
    background-color: v.$Light-grayish-blue;
    margin: 10px 0;
    .input-menos{
        width: 25px;
        height: 100%;
        padding: 24px 5px;
        &:hover{
            cursor: pointer;
        }
    }
    .input-mas{
        width: 25px;
        height: 100%;
        padding: 19px 3px;
        &:hover{
            cursor: pointer;
        }
    }
    .input-numero{
        width: 100%;
        border: none;
        background-color: v.$Light-grayish-blue;
        font-size: 1.2em;
        font-weight: 700;
        font-family: v.$font;
        text-align: center;
        outline: none;
    }
}