@use "variables";
@use "mixins";

.modal-nav{
    display: none;
    @include mixins.modal-background;
}

.main-modalnav{
    background-color: variables.$White;
    width: 250px;
    padding: 28px 24px;
    height: 100%;
}

.modal-nav-cerrar{
    &:hover{
        cursor: pointer;
    }
}

.modalnav-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    list-style: none;
    margin-top: 50px;
}

.modalnav__link{
    text-decoration: none;
    color: variables.$Very-dark-blue;
    font-weight: 700;
    font-size: 1.1em;
}